html {
  font-family: Verdana;
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

p {
  font-size: 21px;
  color: gray;
}

#copyrights {
  text-align: right;
  color: gray;
}
